<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    
    </startup>
<appSettings>
  <add key="EmailId" value="muhammad.abdullah5678@gmail.com"/>
  <add key="Password" value="iamfuncky"/>
  <add key="Subject" value="Register To iHub!"/>
  <add key="Message" value="You have successfully registered to iHub. kindly paste this code to confirm your email"/>
  <add key="ConsumerKey" value="BfPcH8w8FgGTSOSlIjME/qrE9IEaHLDvztVc0zfqZS5a9Rp9yHIiezai+GwLpqNYVwNhjrO59fKgA10xED1yofrl+URA/suM0IQwvbhYSlEuzs1ZhbjegWQY9UJW0oRH"/>
<add key="ConsumerSecret" value="SmJqcXyk10ZJMhZB8hu1/Lel7UGF2qom0CNxqrKwA9yMryWJBdvbb1sOH4211UbPKES3H5oVDISzDkfoB7kQ0lldZXuy53+vYB93jmbE/7P2qE75jGJTQ+oUEhp2WTKdr5vnUxuhGBgi3dV8tIQSjl651gBUMKg7+38nVm99kGI="/>
<add key="AccessToken" value="lZKqjSrUMEs5MmE90/JS+Mi88QxB9FJs++2ovp3Z+/L4y7NHYfcVU+6JKK5SXlFiZzsKkXnIUABQ0a+zRP+eLVQOO8iZm4ID6VC6nyEwApntyIudrmS3cri1rMir85BQHiZ83IYpPjS4RPo5i8nOLv5jvWAAqut6pu04ZpU/3m8="/>
<add key="AccessTokenSecret" value="u4mQSZ+4rgM/w/hOJALvzH4cGJ2jVh2jkiUNABQaFu/xjxGV+hjq/LhdsRoqX7k92aToxa6EKWYDJuD/DACt/vJJDdZtKGujlfUwhQdjMTn605mURDYEu8e5vZ/KJhUElO+BfO9enweTODs1F+nKR4naFHqg7tNJ9vTUUEX+MTs="/>
</appSettings>
</configuration>